@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "tailwindcss";


@theme{
  --font-funnel: "Funnel Sans",sans-funnel;
  --font-roboto: "Roboto",roboto;
  --color-*:initial;
  --color-primary: #51C9DA;
  --color-primary-600: #34828C;
  --color-light-accent: #8BD2EA;
  --color-dark-accent:#798ECF;
  --color-light-shade: #EBF3F4;
  --color-dark-shade: #2F84C9;
  --color-success: #4eb87a;
  --color-error: #f44336;
}
.dropdown{
  @apply bg-primary rounded-md p-2 w-50 mt-15 hover:bg-primary-600 text-light-shade;
}
h4,h3 ,select{
  @apply font-roboto;
}
.btn{
  @apply rounded-sm text-light-shade font-roboto;
}